@{
    TempData["Title"] = "Index";
}

<h2>Gerenciamento dos Cadastros</h2>

<p>Selecione qual cadastro deseja Gerenciar</p>

<a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Index">Lista de Livros</a>
<a class="nav-link text-dark" asp-area="" asp-controller="BookStates" asp-action="Index">Lista de Situações dos Livros</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Lista de Categorias</a>
<a class="nav-link text-dark" asp-area="" asp-controller="People" asp-action="Index">Lista de Pessoas</a>
<a class="nav-link text-dark" asp-area="" asp-controller="TipePersons" asp-action="Index">Lista dos Tipos de Pessoas</a>


