@{
    TempData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Gerenciador de Bibliotecas</h1>
    <h2>Sistema criado pelo Tales Iago Batista</h2>
    <p>Sistema modelado usando MVC 5 e EntryFrameWork 6</p><br/>
    <p> Bem vindo @TempData["Name"].ToString()</p>
</div>


